@model IEnumerable<proyectoFinal.Models.Entidades.Producto>

@{
    ViewData["Title"] = "ListadoProducto";
}

<style>
    .titulo {
        margin-left: 10px;
    }

    .mensaje {
        margin-left: 10px;
    }

</style>
<div class="titulo">
    <div class="col-md-12">
        <h4>Listado de Producto</h4>
    </div>
</div>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>¡Ok! -- </strong>@TempData["AlertMessage"]
    </div>
}

<div class="mensaje">
    <p>
        <a onclick="showInPopup('@Url.Action("Crear", "Producto", new { id = 0 }, Context.Request.Scheme)' , '')"
           class="btn btn-sm btn-success text-white">
            Agregar un Producto  <i class="fa fa-plus-circle"></i>
        </a>
    </p>
</div>
<div class="col-md-12">
    <div class="card">

        <div class="card-body">
            <table id="Producto" class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad en Stock</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdProducto</th>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.CantidadEnStock</td>
                            <td>@item.Activo</td>
                            <td>@item.Categorias.Nombre</td>
                            <td>
                                <img src="@item.URLFoto" class="card-img-top rounded-circle" alt="Foto de perfil" style="max-width: 60px; height: auto;">
                            </td>

                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Producto", new { id = item.IdProducto }, Context.Request.Scheme)' , 'Actualizar Producto')"
                                   class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <button data-id="@item.IdProducto"
                                        class="btn btn-outline-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_EliminarModal" />

@section Scripts {
    <script src="~/js/ShowModal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#Producto').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                }
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Producto/Eliminar/', false);
    </script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>